:root {
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --text-color: #757575;
  --wright-color: #ffffff;
}
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  color: var(--text-color);
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.2;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  display: block;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*other*/
.title-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  padding-bottom: 50px;
}
.container {
  width: 1200;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-top: 0;
  margin-bottom: 0;
}
.navigation-link:hover,
.navigation-link:focus,
.contact-link:hover,
.contact-link:focus,
.contact-link-adress:hover,
.contact-link-adress:focus {
  color: var(--accent-color);
}
.title-section,
.title-principles,
.worker-name,
.galery-title {
  color: var(--title-text-color);
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* header */
.logo,
.logo-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  color: var(--accent-color);
  text-decoration: none;
}
.logo {
  display: inline-block;
  margin-right: 93px;
}
.logo-span {
  color: var(--title-text-color);
}
.navigation-link {
  display: inline-block;
  font-weight: 500;
  color: var(--title-text-color);
  letter-spacing: 0.02em;
  text-decoration: none;
  vertical-align: middle;
  padding-top: 34px;
  padding-bottom: 34px;
}
.contact-link {
  display: inline-block;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
  letter-spacing: 0.02em;
  vertical-align: middle;
  padding-top: 34px;
  padding-bottom: 34px;
}
.current {
  color: var(--accent-color);
}
.header-logo {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.navigation-item:not(:last-child),
.contact-item:not(:last-child) {
  margin-right: 50px;
}
.header {
  border: 1px solid #ececec;
}
/*footer*/
.logo-footer-span,
.address-text {
  color: var(--wright-color);
}
.address-text {
  font-style: normal;
  line-height: 1.5;
}
.footer-contact {
  font-style: normal;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.logo-footer {
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 20px;
}
.address {
  display: inline-block;
  margin-bottom: 9px;
}
.tel {
  display: inline-block;
  margin-bottom: 60px;
}

/*hero*/
.hero-button:hover {
  color: var(--title-text-color);
}
.hero-button {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--wright-color);
  background-color: var(--accent-color);
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
}
.hero,
.footer {
  background-color: #2f303a;
}
.hero {
  text-align: center;
  padding-bottom: 94px;
}
.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--wright-color);
  letter-spacing: 0.06em;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 94px;
}
/*principles*/
.title-principles {
  display: inline-block;
  font-weight: 700;
  line-height: 1.42;
  margin-bottom: 10px;
}
.principles-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0;
}
/* section with photo */
.photo-sectin-flex {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

/*worker*/
.worker-photo {
  margin-bottom: 30px;
}
.worker-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}
.worker-specialty {
  font-size: 16px;
  margin-bottom: 0;
}
.team-flex {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}
.worker-item:not(:last-child) {
  margin-right: 30px;
}
/*filter*/
.filter-button:hover {
  color: var(--wright-color);
  background-color: var(--accent-color);
}
.filter-button {
  display: inline-block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f5f4fa;
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  vertical-align: middle;
  padding: 6px 32px;
  margin-right: 4px;
}

.button-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-all {
  margin-right: 27px;
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: 1px;
}
/*galery*/
.galery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.galery-link {
  text-decoration: none;
}
.galery-text {
  color: var(--text-color);
}
.galery {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: space-between;
}
.galery-item {
  margin-top: 30px;
}
.card-content {
  padding: 20px 24px;
  margin: 0;
  border-bottom: #eeeeee;
}
.padding-reset {
  padding-top: 0px;
}
